<div class="row">
    <div class="col-6">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="firstName" class="form-label">Prénom :</label>
                <input id="firstName" class="form-control" type="text" autofocus placeholder="Prénom"
                    formControlName="firstName" />
            </div>
            <div class="form-group">
                <label for="lastName" class="form-label">Nom :</label>
                <input id="lastName" class="form-control" type="text" placeholder="Nom" formControlName="lastName" />
            </div>
            <div class="form-group">
                <label for="email" class="form-label">E-mail :</label>
                <input id="email" class="form-control" type="email" placeholder="prenom.nom@gmail.com"
                    formControlName="email" />
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="userForm.invalid">Soumettre</button>
        </form>
    </div>
</div>