<div class="row">
    <div class="col-sm-8">
        <form (ngSubmit)="onSubmit(form)" #form="ngForm">
            <div class="form-group">
                <label for="amount">Montant à répartir :</label>
                <input id="amount" class="form-control" type="number" placeholder="0" name="amount" ngModel required />
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Valider</button>
        </form>
    </div>

    <div *ngIf="isFormSubmitted">
        <calculation-results [amount]="amount"></calculation-results>
    </div>
</div>