<div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-collapse">
        <ul class="navbar navbar-nav">
          <li class="active">
            <a routerLink="/accueil">Accueil</a>
          </li>
          <li>
            <a routerLink="/calculatrice">Calculatrice</a>
          </li>
          <li>
            <a routerLink="/utilisateurs">Utilisateurs</a>
          </li>
          <button class="btn btn-success" *ngIf="!isAuthenticated" (click)="onLogIn()">Se connecter</button>
          <button class="btn btn-danger" *ngIf="isAuthenticated" (click)="onLogOut()">Se déconnecter</button>
        </ul>
      </div>
    </div>
  </nav>
  <!-- <div class="navbar-right">Vous êtes connecté depuis {{ secondes }} secondes.</div> -->
  <router-outlet></router-outlet>
</div>